body {
  background-color:#edf7fa;
}
hr {border-style: dotted none none;
   height: 0px;
   width: 5%;
   border-color: grey;
   border-width: 5px;
 }
h1 {
  color:#66bfbf;
}
h2 {
  color:#66bfbf;
}
h3 {
  color:#66bfbf;
  text-indent: 10px;
  text-decoration: underline;
}

img:hover {
  background-color: gold;
}
ol {
  text-indent: 10px;
}
/******************* Class Selectors ***************/

.bacon{
  background-color: green;
  <!-- now anything with class=bacon will have green background-->
}
.circular {
  border-radius:100%;
}

/******************* ID Selectors ***************/
#heading {
  color:blue;
}
